/*
Theme Name: 3 Col Portfolio Theme
Author: Your Name
Description: IM4420 Theme
Version: 0.0.1
Tags: portfolio
*/

/*
 * Globals
 */

html {
  height:100%;
  overflow-y: scroll;
}

body {
    font-family: 'Oswald', sans-serif;  color: #555;
  background: #fafaf9;
  height:100%;

}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #fff;
    text-transform: uppercase!important;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;

  }
}

#main-content {
  padding-bottom: 44px;
}

#wrapper {
    position: relative;
    min-height:100%;
}


.size-to-fit {
  width: 100%;
  height: auto; 
}

.circle-image {
  border-radius: 150px;
}

/* Sidebar */
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

/* Nav links */
.blog-nav a {
  position: relative;
  display: inline-block;
  padding: 14px;
  font-weight: 500;
  color: #fff;
}
.blog-nav a:hover,
.blog-nav a:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav ul {
  margin-bottom: 0px;
  padding-left: 17px;
}

.blog-nav li {
    position: relative;
    display: inline-block;
    font-weight: 500;	
}
.blog-nav li a {
    color: #fff;
}

/*
 * Footer
 * https://stackoverflow.com/questions/21206058/place-footer-at-bottom-only-if-page-is-short
 */

.blog-footer {
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0px;
  color: #fff;
  text-align: center;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.error-page {padding: 40px 15px;text-align: center; margin-top:100px;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn-red { background-color:red; color:#fff;}

.breadcrumb {background-color:yellow;height:50px;}

.navbar {background-color:#fff!important; }

.navbar a {color:#000!important; text-transform:uppercase; display:inline-block;}
.navbar a:hover {color:red!important;}
}

.bot-border {border-bottom: 1px solid red;}
